body {
    font-family: 'Montserrat', sans-serif;  
    background-color:#1c2833;
}

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;   
}

.navbar-brand {
    color: #d5d8dc;
    transition-duration: 0.5s;
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    color: #d5d8dc;
    background-color: transparent;
    transition-duration: 0.5s;
}

.nav-link:hover {
    color: white;
    background-color: transparent;
}

.navbar-toggler {
    color: #d5d8dc;
    border: 0.5px solid #d5d8dc;
    background-color: #d5d8dc;
}

#main_bar {
    background: #294661;
}

h3, h5, h6 {
    color: #d5d8dc;
}

/* Customizing table */
table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: #d5d8dc;
}

table th,
table td {
    border: 1px solid #d5d8dc;
    padding: 0.75rem;
    vertical-align: middle;
}

.high {
    background-color: #294661;
    border: 1px solid #d5d8dc;
}

.scuba {
    background-color: #d5d8dc;
    border: 1px solid #d5d8dc;
}

@media only screen and (max-width: 480px) {
    table th, table td {
        width: auto;
        height: auto;
        font-size: 60%;
        padding: 0.25rem;
        vertical-align: middle;
    }

    #main_bar {
        width: 100%;
    }

    .enroll {
        width: auto;
        height: auto;
        padding: 0.25rem;
    }

    .btn {
        width: auto;
        height: auto;
        padding: 0.25rem;
        font-size: 100%;
    }

    .filter {
        height: auto;
        width: auto;
        padding: 0.25rem;
    }
}

/* buttons */
.btn {
    background-color: transparent;
    border-radius: 5px;
    color: #d5d8dc;
    border: 0.5px solid #d5d8dc;
    transition-duration: 0.5s;
}

.btn:hover {
    background-color: #d5d8dc;
    color: #1c2833;
    border: 0.5px solid #d5d8dc;
}

input {
    background-color: #294661;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #d5d8dc;
    width: 200px;
    height: 35px;
}

input:hover {
    border: 1px solid #d5d8dc;
}

input::placeholder {
    color: #d5d8dcc2;
}

.enroll {
    width: 70px;
    transition-duration: 0.5s;
}

.enroll:hover {
    background-color: #d5d8dc;
    color: #1c2833;
    border: 0.5px solid #d5d8dc;
}

.filter {
    height: 25px;
    width: 80px;
    border: 0.5px solid #d5d8dc;
}

.grade_value {
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #d5d8dc;
    width: 45px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}

select {
    background-color: transparent;
    outline: none;
    border: 0.5px solid #d5d8dc;
    border-radius: 5px;
    color: #d5d8dc;
    width: 100px;
    height: 35px;
    transition-duration: 0.5s;
}

select:hover {
    background-color: #d5d8dc;
    color: #1c2833;
    border: 0.5px solid #d5d8dc;
}

option {
    color: #d5d8dc;
    background-color: #1c2833;
    margin-left: auto;
    margin-right: auto;
}

#faculty_select {
    background-color: transparent;
    outline: none;
    border: 0.5px solid #d5d8dc;
    border-radius: 5px;
    color: #d5d8dc;
    width: 200px;
    height: 35px;
}

#wallet {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    font-size: 90%;
    color: #d5d8dc;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1px;
    margin-top: 100px;
}

a {
    color: #d5d8dc;
}

#new_strategy {
    margin-top: 10px;
    margin-bottom: 30px;
}

#add_Strategies {
    margin-bottom: 30px;
}

#strategy_save {
    width: auto;
}

#strategy_save2 {
    margin-top: 10px;
}

#edit_strategy_form {
    margin-top: 7px;
}
