{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h5>Welcome, {{ instructor[0]['names'] }} {{ instructor[0]['last_names'] }}</h5>
        <h3>I'm teaching...</h3>
    </div>
    <div class="mb-3">
        <table>
            <thead>
                <tr class="high">
                    <th>Period</th>
                    <th>Name</th>
                    <th>Section</th>                    
                    <th>Faculty</th>
                    <th>Semester</th>
                    <th>Enrolled</th>
                    <th>Strategies</th>
                    <th>Students</th>
                </tr>
            </thead>
            <tbody>

                {% for section in sections %}
                    <tr>
                        <td>{{ section['period'] }}</td>
                        <td>{{ section['name'] }}</td>
                        <td>{{ section['section_number'] }}</td>
                        <td>{{ section['field'] }}</td>
                        <td>{{ section['semester'] }}</td>
                        <td>{{ section['enrolled'] }}</td>
                        <td>
                            <form action="/" method="post">
                                <input class="enroll" type="hidden" name="strategy" value="{{ section['id'] }}">
                                <input class="enroll" type="submit" value="View">
                            </form>
                        </td>
                        <td>
                            <form action="/" method="post">
                                <input class="enroll" type="hidden" name="check" value="{{ section['id'] }}">
                                <input class="enroll" type="submit" value="View">
                            </form>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
